{% extends 'users/layout1.html' %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_head_css_lib %}

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />

    <!-- Bootstrap DatePicker Css -->
    <link href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />


    <!-- Wait Me Css -->
    <link href="{% static 'plugins/waitme/waitMe.css' %}" rel="stylesheet" />

     <!-- Colorpicker Css -->
    <link href="{%static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css'%}" rel="stylesheet" />

    <!-- Multi Select Css -->
    <link href="{% static 'plugins/multi-select/css/multi-select.css' %}" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="{% static 'plugins/jquery-spinner/css/bootstrap-spinner.css'%}" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css'%}" rel="stylesheet">


     <!-- Dropzone Css -->
    <link href="{% static 'plugins/dropzone/dropzone.css'%}" rel="stylesheet">

    <!-- Sweet Alert Css -->
    <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />


    <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />

{% endblock %}
{% block body %}
 <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid rgba(252,252,252,0.05)">
<div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid rgba(120,120,120,0.85)">
    <span style="font-size:25px"><i><b>Photo</b></i></span><br>
    <span style="font-size:25px" class="img-circle"><i><b>{{ object.photo }}</b></i></span><br>
       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
       <br><br>
    <span style="font-size:25px"><i><b>This is to certify that</b></i></span>
       <br><br>
       <span style="font-size:30px">{{ object.admission.Student.first_name }}</span><br/><br/>
    <span style="font-size:25px"><i><b>has completed the course</b></i></span> <br/><br/>
       <span style="font-size:30px">{{ object.admission.Course.name }}</span> <br/><br/>
    <span style="font-size:25px"><i><b>Dated</b></i></span><br>
    <script>#set ($dt = $DateFormatter.getFormattedDate($grade.getAwardDate(), "MMMM dd, yyyy"))</script>
      <span style="font-size:30px">{{ object.date }}</span>
</div>
 <button onclick="window.print()">Print the Certificate</button>
</div>



{% endblock %}
{% block extra_js_lib %}
     <!-- Jquery Validation Plugin Css -->
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/form-validation.js' %}"></script>

    <!-- Autosize Plugin Js -->
    <script src="{% static 'plugins/autosize/autosize.js' %}"></script>

    <!-- Moment Plugin Js -->
    <script src="{% static 'plugins/momentjs/moment.js' %}"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/basic-form-elements.js' %}"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.js'%}"></script>

    <!-- noUISlider Plugin Js -->
    <script src="{% static 'plugins/nouislider/nouislider.js'%}"></script>


{% endblock %}